/* -----------------------------------------------------------------
// Info List
----------------------------------------------------------------- */
.c-info-list {
  text-align: center;
  dt {
    padding-top: 10px;
    font-weight: bold;
  }
  dd {
  }
}
