/* -----------------------------------------------------------------
// Header
----------------------------------------------------------------- */
.l-header {
	position: relative;
	width: 100%;
	z-index: 10000;
}

/* -----------------------------------------------------------------
// Main
----------------------------------------------------------------- */
.l-main {
	margin-top: var(--space-xl);
}

/* -----------------------------------------------------------------
// Contents
----------------------------------------------------------------- */

/* -----------------------------------------------------------------
// Sidebar
----------------------------------------------------------------- */

/* -----------------------------------------------------------------
// Footer
----------------------------------------------------------------- */

/* -----------------------------------------------------------------
// Pagetop
----------------------------------------------------------------- */
