// ==========================================================================
//  Contact
// ==========================================================================
.c-contact {
  padding: 20px;
  color: #fff;
  &__item {
    + .c-contact__item {
      margin-top: 10px;
      @include mq() {
        margin-top: 0;
      }
    }
  }
  .container {
    background-color: transparent;
  }
  .c-button {
    color: #fff;
    border-color: #fff;
  }
}
