/* -----------------------------------------------------------------
// Service
----------------------------------------------------------------- */
.p-service {
  margin-bottom: 40px;
  @include mq(sm) {
    margin-bottom: 60px;
  }
  a {
    color: #333;
    text-decoration: none;
  }
}
.p-service__item {
  display: table;
  margin-bottom: 40px;
}
.p-service-heading {
  margin-bottom: 20px;
  color: #0e3597;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  @include mq(lg) {
    margin-bottom: 40px;
  }
}
.p-service__item--01 {
  .p-service-heading {
    img {
      width: 200px;
    }
  }
}
.p-service__item--02 {
  .p-service-heading {
    img {
      width: 280px;
    }
  }
  .p-service__item__img,
  .p-service__item__text {
    background-color: #005029;
  }
  .p-service__item__img img {
    padding: 10px;
    @include mq(sm) {
      padding: 10px 0 10px 10px;
    }
  }
  .p-service-description {
    color: #fff;
  }
}
.p-service__item__inner {
  vertical-align: middle;
  @include mq(sm) {
    width: 50%;
    display: table-cell;
  }
}
.p-service__item__text {
  background-color: #f4f3ed;
  padding: 40px;
  @include mq(lg) {
    padding: 0 70px;
  }
}
.p-service__item__img {
  img {
    width: 100%;
  }
}
